# Data Fetching

### Nous récuperons les données à partir du fichier sqlite et on créeons un fichier csv distincts pour chaque table présente dans la base de donnéees

In [12]:
#IMPORTS
import sqlite3
import pandas as pd
#Enlever les warnings
import warnings
warnings.simplefilter("ignore")

#DATA FETCHING
dat = sqlite3.connect('../database/database.sqlite')

table = ["Country", "League", "X_Train", "X_Test","Player", "Player_Attributes",
         "Team", "Team_Attributes"]

csv = {}

for name in table:
    query = dat.execute("SELECT * From " + name)
    cols = [column[0] for column in query.description]
    results = pd.DataFrame.from_records(data=query.fetchall(), columns=cols)
    results.to_csv(r'../csv/'+name+'.csv')

### Transformation des fichiers csv en dataframes

In [5]:
matchsTrain = pd.read_csv('../csv/X_Train.csv')
matchsTest = pd.read_csv('../csv/X_Test.csv')
players = pd.read_csv('../csv/Player.csv')
teams = pd.read_csv('../csv/Team.csv')
team_attr = pd.read_csv('../csv/Team_Attributes.csv')
player_attr = pd.read_csv('../csv/Player_Attributes.csv')
countries = pd.read_csv('../csv/Country.csv')
leagues = pd.read_csv('../csv/League.csv')

## Exploration des données

#### Exploration du train set

Informations importantes à propos du training : 
- les colonnes home/away_player_XY représentent les coordonnées des X,Y des joueurs sur le terrain
- les colonnes home/away_player_i où 1<i<11 représentent l'api id des joueurs (que l'on peut retrouver dans les tables Player et Player_Attributes)

In [6]:
matchsTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20479 entries, 0 to 20478
Data columns (total 79 columns):
Unnamed: 0          20479 non-null int64
index               20479 non-null int64
id                  20479 non-null int64
country_id          20479 non-null int64
league_id           20479 non-null int64
season              20479 non-null object
stage               20479 non-null int64
date                20479 non-null object
match_api_id        20479 non-null int64
home_team_api_id    20479 non-null int64
away_team_api_id    20479 non-null int64
home_team_goal      20479 non-null int64
away_team_goal      20479 non-null int64
home_player_X1      19033 non-null float64
home_player_X2      19033 non-null float64
home_player_X3      19025 non-null float64
home_player_X4      19025 non-null float64
home_player_X5      19025 non-null float64
home_player_X6      19025 non-null float64
home_player_X7      19025 non-null float64
home_player_X8      19025 non-null float64
home_player_X9      19025 non-null float64
home_player_X10     19025 non-null float64
home_player_X11     19025 non-null float64
away_player_X1      19025 non-null float64
away_player_X2      19025 non-null float64
away_player_X3      19025 non-null float64
away_player_X4      19025 non-null float64
away_player_X5      19025 non-null float64
away_player_X6      19025 non-null float64
away_player_X7      19025 non-null float64
away_player_X8      19025 non-null float64
away_player_X9      19024 non-null float64
away_player_X10     19024 non-null float64
away_player_X11     19019 non-null float64
home_player_Y1      19033 non-null float64
home_player_Y2      19033 non-null float64
home_player_Y3      19025 non-null float64
home_player_Y4      19025 non-null float64
home_player_Y5      19025 non-null float64
home_player_Y6      19025 non-null float64
home_player_Y7      19025 non-null float64
home_player_Y8      19025 non-null float64
home_player_Y9      19025 non-null float64
home_player_Y10     19025 non-null float64
home_player_Y11     19025 non-null float64
away_player_Y1      19025 non-null float64
away_player_Y2      19025 non-null float64
away_player_Y3      19025 non-null float64
away_player_Y4      19025 non-null float64
away_player_Y5      19025 non-null float64
away_player_Y6      19025 non-null float64
away_player_Y7      19025 non-null float64
away_player_Y8      19025 non-null float64
away_player_Y9      19024 non-null float64
away_player_Y10     19024 non-null float64
away_player_Y11     19019 non-null float64
home_player_1       19513 non-null float64
home_player_2       19442 non-null float64
home_player_3       19466 non-null float64
home_player_4       19425 non-null float64
home_player_5       19444 non-null float64
home_player_6       19417 non-null float64
home_player_7       19520 non-null float64
home_player_8       19448 non-null float64
home_player_9       19465 non-null float64
home_player_10      19342 non-null float64
home_player_11      19232 non-null float64
away_player_1       19495 non-null float64
away_player_2       19460 non-null float64
away_player_3       19439 non-null float64
away_player_4       19448 non-null float64
away_player_5       19425 non-null float64
away_player_6       19430 non-null float64
away_player_7       19498 non-null float64
away_player_8       19409 non-null float64
away_player_9       19433 non-null float64
away_player_10      19348 non-null float64
away_player_11      19264 non-null float64
dtypes: float64(66), int64(11), object(2)
memory usage: 12.3+ MB

In [7]:
matchsTrain.describe()

,Unnamed: 0,index,id,country_id,league_id,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
count,20479.000000,20479.000000,20479.0000,20479.000000,20479.000000,20479.000000,2.047900e+04,20479.000000,20479.000000,20479.000000,...,19460.000000,19439.000000,19448.000000,19425.000000,19430.000000,19498.000000,19409.000000,19433.000000,19348.000000,19264.000000
mean,10239.000000,10239.000000,13018.8497,11766.815177,11766.815177,18.224132,1.196640e+06,9903.388105,10035.218272,1.538454,...,107215.875231,91067.257729,94952.167935,109937.905071,102434.662120,98161.155247,110213.809418,110629.648948,106639.449245,105447.734064
std,5911.922417,5911.922417,7492.2651,7551.399825,7551.399825,10.398607,4.950166e+05,13529.090615,14554.860615,1.296081,...,113465.530366,101884.382600,103884.329333,112726.177016,111247.146676,107130.925346,117246.374813,116002.144951,112511.966589,110469.160375
min,0.000000,0.000000,2.0000,1.000000,1.000000,1.000000,4.831290e+05,1601.000000,1601.000000,0.000000,...,2790.000000,2752.000000,2752.000000,2790.000000,2625.000000,2625.000000,2625.000000,2625.000000,2802.000000,2802.000000
25%,5119.500000,5119.500000,6540.5000,4769.000000,4769.000000,9.000000,7.684365e+05,8481.000000,8472.000000,1.000000,...,32574.000000,30464.000000,30617.000000,33579.000000,31058.000000,30930.000000,32836.000000,33421.000000,32572.000000,32748.000000
50%,10239.000000,10239.000000,13027.0000,10257.000000,10257.000000,18.000000,1.189713e+06,8697.000000,8696.000000,1.000000,...,42388.000000,39892.000000,41062.000000,46297.000000,41659.000000,41603.500000,46104.000000,45860.000000,45174.000000,43097.000000
75%,15358.500000,15358.500000,19485.5000,17642.000000,17642.000000,27.000000,1.709904e+06,9925.000000,9911.000000,2.000000,...,159854.000000,119007.000000,145561.000000,160243.000000,151079.000000,145538.000000,164031.000000,164089.000000,160194.000000,163205.000000
max,20478.000000,20478.000000,25979.0000,24558.000000,24558.000000,38.000000,2.216672e+06,274581.000000,274581.000000,10.000000,...,748432.000000,705484.000000,728414.000000,746419.000000,722766.000000,750435.000000,717248.000000,722766.000000,722766.000000,726956.000000

In [8]:
matchsTrain.head()

,Unnamed: 0,index,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,0,0,11103,10257,10257,2010/2011,17,2010-12-19 00:00:00,888326,8533,...,231753.0,24235.0,41884.0,34320.0,31314.0,192574.0,27694.0,39232.0,30712.0,39540.0
1,1,1,16167,15722,15722,2009/2010,5,2009-08-29 00:00:00,673737,8245,...,13515.0,13533.0,69261.0,NaN,69599.0,NaN,NaN,NaN,NaN,NaN
2,2,2,11222,10257,10257,2010/2011,28,2011-03-06 00:00:00,888435,9882,...,150466.0,18500.0,25815.0,41380.0,39701.0,39264.0,73999.0,167634.0,39306.0,96598.0
3,3,3,11018,10257,10257,2010/2011,1,2010-08-29 00:00:00,888161,9976,...,27720.0,24235.0,41884.0,41892.0,31314.0,33888.0,41890.0,39232.0,30727.0,39540.0
4,4,4,25596,24558,24558,2013/2014,5,2013-08-10 00:00:00,1471657,9930,...,67349.0,16254.0,25815.0,25843.0,93223.0,113227.0,302079.0,30912.0,25860.0,71764.0

L'api id représente l'id sur lequel on pourra faire un "merge" avec d'autres tables

### Conclusions : 
- Etant données que tous les matchs sont joués entre équipes du même championnat, nous n'allons pas utiliser les tables Country et League

### Ajout du label

In [9]:
# Determine the label of the match (0: tie , 1: home team won, -1: home team lost)
def det_label(score1, score2):
    if(score1 == score2):
        return 0
    if(score1 < score2):
        return -1
    else:
        return 1

In [10]:
#On va travailler sur une copie du training set
matchsTrainCopy = matchsTrain.copy()
matchsTrainCopy['label'] = matchsTrainCopy.apply(lambda row: det_label(
            row['home_team_goal'], row['away_team_goal']), axis=1)

In [32]:
matchsTrainCopy['label'].value_counts()

 1    9367
-1    5939
 0    5173
Name: label, dtype: int64

Nous pouvons voir que l'équipe jouant à domicile gagne dans un peu moins de 50% des cas

## Exploration des attributes des équipes

Pour mieux visualiser les attributs liés aux équipes nous allons drop les attributs liés aux joueurs

In [16]:
matchsTrainCopy.drop(matchsTrainCopy.select(lambda col: col.startswith('home_player'), axis=1), axis=1, inplace=True)
matchsTrainCopy.drop(matchsTrainCopy.select(lambda col: col.startswith('away_player'), axis=1), axis=1, inplace=True)
#Suppression des colonnes qui n'ont pas d'importances
matchsTrainCopy.drop(['country_id', 'league_id','match_api_id', 'Unnamed: 0'], axis=1, inplace=True)

In [17]:
matchsTrainCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20479 entries, 0 to 20478
Data columns (total 10 columns):
index               20479 non-null int64
id                  20479 non-null int64
season              20479 non-null object
stage               20479 non-null int64
date                20479 non-null object
home_team_api_id    20479 non-null int64
away_team_api_id    20479 non-null int64
home_team_goal      20479 non-null int64
away_team_goal      20479 non-null int64
label               20479 non-null int64
dtypes: int64(8), object(2)
memory usage: 1.6+ MB

### Merge du training set avec le team attributes

In [26]:
mergedDf = matchsTrainCopy.merge(team_attr, left_on='home_team_api_id', right_on='team_api_id')
correlation = mergedDf.corrwith(mergedDf['label']).sort_values(ascending=False)

In [20]:
mergedDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111926 entries, 0 to 111925
Data columns (total 36 columns):
index                             111926 non-null int64
id_x                              111926 non-null int64
season                            111926 non-null object
stage                             111926 non-null int64
date_x                            111926 non-null object
home_team_api_id                  111926 non-null int64
away_team_api_id                  111926 non-null int64
home_team_goal                    111926 non-null int64
away_team_goal                    111926 non-null int64
label                             111926 non-null int64
Unnamed: 0                        111926 non-null int64
id_y                              111926 non-null int64
team_fifa_api_id                  111926 non-null int64
team_api_id                       111926 non-null int64
date_y                            111926 non-null object
buildUpPlaySpeed                  111926 non-null int64
buildUpPlaySpeedClass             111926 non-null object
buildUpPlayDribbling              37189 non-null float64
buildUpPlayDribblingClass         111926 non-null object
buildUpPlayPassing                111926 non-null int64
buildUpPlayPassingClass           111926 non-null object
buildUpPlayPositioningClass       111926 non-null object
chanceCreationPassing             111926 non-null int64
chanceCreationPassingClass        111926 non-null object
chanceCreationCrossing            111926 non-null int64
chanceCreationCrossingClass       111926 non-null object
chanceCreationShooting            111926 non-null int64
chanceCreationShootingClass       111926 non-null object
chanceCreationPositioningClass    111926 non-null object
defencePressure                   111926 non-null int64
defencePressureClass              111926 non-null object
defenceAggression                 111926 non-null int64
defenceAggressionClass            111926 non-null object
defenceTeamWidth                  111926 non-null int64
defenceTeamWidthClass             111926 non-null object
defenceDefenderLineClass          111926 non-null object
dtypes: float64(1), int64(20), object(15)
memory usage: 31.6+ MB

In [27]:
correlation

label                     1.000000
home_team_goal            0.620438
defencePressure           0.063225
chanceCreationShooting    0.035975
defenceAggression         0.030697
defenceTeamWidth          0.022133
chanceCreationPassing     0.019822
chanceCreationCrossing    0.016655
away_team_api_id          0.016592
buildUpPlayDribbling      0.007554
index                     0.005943
id_x                     -0.000900
stage                    -0.002491
buildUpPlaySpeed         -0.006341
team_api_id              -0.014515
home_team_api_id         -0.014515
id_y                     -0.026587
Unnamed: 0               -0.026587
team_fifa_api_id         -0.039668
buildUpPlayPassing       -0.065467
away_team_goal           -0.630108
dtype: float64

#### Conclusion : 
- les deux colonnes qui se disinguent le plus par leurs correlations au label sont la defensePressure et le buildUpPlayPassing

### Merge du training set avec le player attributes

In [28]:
#On va travailler sur une copie du training set
matchsTrainCopy = matchsTrain.copy()
matchsTrainCopy['label'] = matchsTrainCopy.apply(lambda row: det_label(
            row['home_team_goal'], row['away_team_goal']), axis=1)

In [30]:
player_attr_home = player_attr.select_dtypes(include=['float64', 'int64'])
player_attr_away = player_attr.select_dtypes(include=['float64', 'int64'])
player_attr_home = player_attr.add_suffix('_home')
player_attr_away = player_attr.add_suffix('_away')

player_attr_home = player_attr_home.groupby(player_attr_home['player_api_id_home']).mean()
player_attr_away = player_attr_away.groupby(player_attr_away['player_api_id_away']).mean()

player_attr_home['player_api_id_home'] = player_attr_home.index
player_attr_away['player_api_id_away'] = player_attr_away.index


matchsTrainCopy = matchsTrainCopy.select_dtypes(include=['float64', 'int64'])

mergedDf = matchsTrainCopy.merge(
    player_attr_home, left_on='home_player_1', right_index=True)
mergedDf = matchsTrainCopy.merge(
    player_attr_away, left_on='away_player_1', right_index=True)

for i in range(2, 12):
    player_attr_home = player_attr.add_suffix('_'+str(i))
    player_attr_away = player_attr.add_suffix('_'+str(i))
    mergedDf = mergedDf.merge(
        player_attr_home, left_on='home_player_'+str(i), right_index=True)
    mergedDf = mergedDf.merge(
        player_attr_away, left_on='away_player_'+str(i), right_index=True)

correlation = mergedDf.corrwith(mergedDf['label']).sort_values(ascending=False)

In [31]:
correlation

label                      1.000000
home_team_goal             0.611912
marking_away               0.073126
player_fifa_api_id_away    0.061488
home_player_X11            0.061105
strength_11_x              0.055515
overall_rating_11_x        0.052679
home_player_Y9             0.049421
crossing_away              0.048339
finishing_away             0.048226
sliding_tackle_away        0.047102
penalties_2_y              0.046931
jumping_11_x               0.046804
sliding_tackle_10_y        0.046777
home_player_Y10            0.045697
gk_kicking_11_x            0.045577
gk_reflexes_11_x           0.045308
away_player_X9             0.044917
id_10_y                    0.044691
away_player_10             0.044691
Unnamed: 0_10_y            0.044691
long_shots_away            0.043733
jumping_3_x                0.043245
standing_tackle_away       0.043108
standing_tackle_10_y       0.042946
interceptions_7_x          0.041319
balance_2_y                0.040768
gk_handling_11_x           0.040631
gk_diving_11_x             0.040515
gk_positioning_11_x        0.040340
                             ...
shot_power_2_x            -0.037837
away_player_X5            -0.038072
away_player_Y10           -0.039035
Unnamed: 0_5_x            -0.040134
id_5_x                    -0.040134
home_player_5             -0.040134
home_player_Y11           -0.043221
overall_rating_5_x        -0.046167
acceleration_4_x          -0.046430
long_passing_5_x          -0.048460
away_player_X11           -0.050515
away_player_Y9            -0.055574
home_player_6             -0.056133
id_6_x                    -0.056133
Unnamed: 0_6_x            -0.056133
gk_kicking_away           -0.108190
reactions_away            -0.108463
gk_reflexes_away          -0.125317
gk_diving_away            -0.129762
gk_positioning_away       -0.136993
gk_handling_away          -0.138483
potential_away            -0.140600
overall_rating_away       -0.149233
away_team_goal            -0.625744
away_player_X1                  NaN
home_player_Y3                  NaN
away_player_Y1                  NaN
away_player_Y2                  NaN
away_player_Y3                  NaN
away_player_Y4                  NaN
Length: 897, dtype: float64

### Conclusion:
- les attributs du gardien de l'équipe à l'extérieur ont une legere correlation inverse sur le label (au plus le gardien a de bons attributs au plus le label sera -1 cad l'équipe à l'extérieur remporte le match)
- En générale, il parait logique de se dire que les attributs des joueurs en générale vont affluer sur le resultat final d'un match (au plus une équipe a de bons joueurs par rapport à l'equipe adverse, au plus elle augmentera ses chances de gagner le match